#heading{
    background-color: blanchedalmond;
    position: sticky;
    top: 0px;
}

#h1 {
    color:darkcyan;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
#urls a:hover{
    color: #008b8b;
    background-color: aliceblue;
    transition: 0.5s;
    border-radius: 5px;
    padding:5px 10px 5px 10px;
}